@{
    ViewBag.Title = "xtricate.build demo site";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
<ul>
    <li>repository value for key 'id1' is <b>@ViewBag.RepositoryValue</b></li>
    <li>appsetting value for key 'appsetting1' is <b>@ViewBag.AppSettingValue</b></li>
</ul>
