<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="demodb"
             connectionString="data source=E:\data\Dropbox\projects\xtricate.build\src\demo.db\demodatabase1_local123.sdf"
             providerName="System.Data.SqlServerCe.4.0" />
    </connectionStrings>
</configuration>
